*{margin: 0; padding: 0; box-sizing: border-box;}

#wrap {width: 100vw; max-width: 500px; height: 100vh; margin: 0 auto; }

/*인풋 공동 레이아웃*/
.input_compo {width: 100%; display: flex; flex-direction: column; gap: 6px;}
.input_wrap {position: relative; width: 100%; height: 56px; padding: 0px 16px; border: 1px solid #d8dadc; background-color: #fff; position: relative; border-radius: 10px; transition: all linear 0.2s; }
.input_wrap:focus-within {border: 1px solid #00bff9; }
.input_wrap > input {width: 100%; height: 100%; font-size: 14px;}

/*인풋 내부 라벨*/
.input_compo .input_wrap label {position: absolute; top: 50%; left: 16px; transform: translate(0,-50%); font-size: 14px; color: #bcbcbc; transition: all linear 0.2s; }
.input_compo .input_wrap:focus-within label,
.input_compo .input_wrap.has_v label {top: 15px;font-size: 11px;}
.input_compo.label .input_wrap:placeholder {display: none; opacity: 0;}
.input_compo.label .input_wrap.has_v input,
.input_compo.label .input_wrap:focus-within input {padding-top: 8px;}

/*인풋 타이틀*/
.input_compo .top_label {width: 100%; display: flex; align-items: center;}
.input_compo .top_label p {color: #000; font-size: 14px;line-height: 20px; }
.input_compo .top_label span {margin-left: auto; color: #00bff9; font-size: 12px; }
.input_compo .top_label span.error {color: #ff5f61;}


.input_wrap .check {position: absolute; background-color: #00bff9;color: #fff; font-size: 13px; line-height: 20px; font-weight: 600; border-radius: 40px; padding: 5px 13px; right: 16px; top: 50%; transform: translate(0,-50%);}
.input_wrap .show {position: absolute; width: 20px; height: 20px; background: url(../../public/images/hide_pass.png) no-repeat center center / cover; right: 16px; top: 50%; transform: translate(0,-50%); transition: all linear 0.2s;}
.input_wrap .show.on {background: url(../../public/images/show_pass.png) no-repeat center center / cover; }





.btn_submit {width: 100%; height: 56px; border-radius: 10px; overflow: hidden; text-align: center;}





