#home {width: 100%; overflow: hidden; scroll-behavior: smooth; padding: 0 20px 60px; background-color: #f7f7f7;}
#home .top_area {width: 100%; padding: 35px 0 15px;}
#home .top_area h2 {font-size: 20px; line-height: normal; color: #00242e;}
#home .top_area h2 b {font-weight: 600;}
#home .top_area .search_input {margin-top: 15px;}
#home .top_area .search_input .input_wrap {border: transparent 1px solid;}
#home .top_area .search_input .input_wrap.has_v {border: 1px solid #00242e;}
#home .top_area .search_input .search_btn {width: 18px; height: 18px; overflow: hidden; text-indent: 999px; background:url(../../public/images/home_s.png) no-repeat center center / cover;} 

#home .weather_wrap {width: 100%; display: flex; flex-direction: column; gap: 15px;}
#home .weather_wrap .weather_big {width: 100%; padding: 20px;  background-color: #00bff9; border-radius: 20px; overflow: hidden;}
#home .weather_wrap .weather_big.sunny {background-color: #00bff9;} 
#home .weather_wrap .weather_big.cloudy{background-color: #97bdc8;} 
#home .weather_wrap .weather_big.overcast {background-color: #83979d;} 

#home .weather_wrap .weather_big .refresh {height: 1.5em; overflow: hidden; cursor: pointer; position: relative; display: flex; justify-content: flex-end; align-items: center; margin-bottom: 18px;  color: #fff; font-size: 14px; }
#home .weather_wrap .weather_big .refresh p { position:absolute; top: 0; right: 20px;}
#home .weather_wrap .weather_big .refresh::after {content: ""; display: block; width: 16px; height: 16px; background:url(../../public/images/refresh.png) no-repeat center center / cover;} 


#home .weather_wrap .weather_condition {width: 100%; display: flex; flex-wrap: wrap; gap: 10px; align-items: center;}
#home .weather_wrap .weather_condition li {width: 10px; flex: 1 1 20%; padding: 7px 0; background-color: #fff; border-radius: 10px; display: flex; flex-direction: column; gap: 2px; align-items: center; justify-content: center; box-shadow: 0 1px 2px rgba(0,0,0,0.05)}
#home .weather_wrap .weather_condition li p {font-size: 11px; line-height: normal; font-weight: 500;}
#home .weather_wrap .weather_condition li.good {color: #00bff9;}
#home .weather_wrap .weather_condition li.bad {color: #ffa710;}
#home .weather_wrap .weather_condition li.sobad {color: #e64646;}
#home .weather_wrap .weather_condition li.soso {color: #47d237;}



#home .weather_wrap .weather_condition li::before {content: ""; display: block; width: 24px; height: 24px;}
#home .weather_wrap .weather_condition li.good::before {background:url(../../public/images/good.png) no-repeat center center / cover}
#home .weather_wrap .weather_condition li.bad::before {background:url(../../public/images/bad.png) no-repeat center center / cover}
#home .weather_wrap .weather_condition li.sobad::before {background:url(../../public/images/sobad.png) no-repeat center center / cover}
#home .weather_wrap .weather_condition li.soso::before {background:url(../../public/images/soso.png) no-repeat center center / cover}

/*svg아이콘*/
#home .weather_wrap .weather_big {position: relative;}
#home .weather_wrap .weather_big .icon_box { width: 100%; height: 100%; position: absolute; top:0; left: 0; }
#home .weather_wrap .weather_big .icon_box > div {width: 100%; height: 100%;}
#home .weather_wrap .weather_big .icon_box > div svg {overflow: visible; width: 40%; max-width: 150px; height: auto; aspect-ratio: 1/1;  position: absolute; top:19%; left: 50%; transform: translate(-50%,0); }


#home .weather_wrap .weather_big .info_box::before {content: ""; display: block; width: 40%; aspect-ratio: 1/1; }
#home .weather_wrap .weather_big .info_box h3 {font-size: 36px; font-weight: 600; color: #fff; text-align: center;}
#home .weather_wrap .weather_big .info_box .weather_txt {color: #fff; padding-bottom: 10px; font-weight: 500; text-align: center;}

.snow-layer {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 10;
}  
.flake {
  position: absolute;
  top: 0;
  background: white;
  border-radius: 50%;
  filter: blur(0.5px);
}

/*추천 영역*/
#home .recommend_wrap {width: 100%; display: flex; flex-wrap: wrap; gap: 16px; align-items: center; justify-content: space-between; } 
#home .recommend_wrap div {display: flex;  flex-wrap: wrap; margin-top: 15px; width: 10px; flex: 1 1 40%; border-radius: 10px; background-color: #fff; padding: 18px 10px 10px; box-shadow: 0 1px 4px rgba(0,0,0,0.05); cursor: pointer;}
#home .recommend_wrap div h3 {width: 100%; margin-left: 9px; font-size: 14px; font-weight: 600; color: #00242e; line-height: normal}
#home .recommend_wrap div .icon_wrap {display: inline-block; width: 38%; aspect-ratio: 1/1; margin-left: auto;}
#home .recommend_wrap .recommend_today .icon_wrap {background:url(../../public/images/today.png) no-repeat center center / cover}
#home .recommend_wrap .recommend_write .icon_wrap {background:url(../../public/images/write.png) no-repeat center center / cover}

/*광고*/
#home .ad_zone {width: 100%; margin-top: 15px; overflow: hidden;}
#home .ad_zone .ad_banner {width: 100%;}
#home .ad_zone .ad_banner > img {width: 100%; height: auto;}





