@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Uiyeun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#intro {width: 100%; height: 100%; overflow: hidden; background-color: #00BFF9; display: flex; flex-direction: column; justify-content: center; align-items: center;}
#intro .top_wrap {text-align: center; transform: translateY(0); opacity: 0; display: flex; flex-direction: column; align-items: center; justify-content: center;}
#intro .top_wrap .logo_wrap {width: 120px; height: 120px; overflow: hidden; }
#intro .top_wrap .logo_wrap img {width: 100%; height: 100%; object-fit: cover;}
#intro .top_wrap .txt_ani { width: 200%; position: relative; height: 4.5em; overflow: hidden; opacity: 0; top: 0;}
#intro .top_wrap .txt_ani p {position: absolute;width: 100%;top: 0;left: 0;opacity: 0;text-align: center; font-size: 14px; letter-spacing: -0.2px; line-height: 21px; color: #fff; font-weight: 400;}
#intro .btn_wrap {background-color: #fff; border-radius: 15px; position: fixed; bottom: 90px; opacity: 0; } 
#intro .btn_wrap > button{ width: 120px; height: 50px; color: #00BFF9; text-align: center; font-size: 14px; font-weight: 600; letter-spacing: -0.6px; line-height: 21px;}