#login,
#join {width: 100%; height: 100%; padding: 0px 20px; background-color: #f7f7f7; }
#login .login_form form {width: 100%; display: flex; flex-direction: column; gap: 15px;}
#login .top_logo {width: 170px; margin: 0 auto 13px; padding-top: 19.68vh;}
#login .top_logo .img_wrap {width: 100%; }
#login .top_logo .img_wrap > img {width: 100%; height: auto; }

#btn_submit {width: 100%; height: 56px;  margin-top: 10px; border-radius: 10px; background-color: #00bff0; overflow: hidden;}
#btn_submit > button {width: 100%; height: 100%; color: #fff; font-weight: 600;} 

#login .login_form .find_acc {width: 100%; display: flex; gap: 13px; margin-top: 15px; align-items: center; justify-content: center;} 
#login .login_form .find_acc a{ font-size: 12px;  color: #606060;}
#login .login_form .find_acc .line {width: 1px; height: 9px; margin-top: 3px; background-color: #bcbcbc; }

#login .bottom_btn {display: flex; flex-direction: column; align-items: center; position: fixed; left: 50%; bottom: 100px; transform: translate(-50%,0); }

#login .bottom_btn p { font-size: 14px; margin-bottom: 11px; color: #606060;}

#btn_join {width: 120px; height: 50px; background-color: #00242e; border-radius: 15px;  } 
#btn_join > button{width: 100%; height: 100%; color: #fff; text-align: center; font-size: 14px; font-weight: 600; letter-spacing: -0.6px; line-height: 21px;}

#join form {width: 100%; display: flex; flex-direction: column; gap: 15px;}
#join .top_img {width: 170px; margin: 0 auto 13px; padding-top: 15vh;}
#join .top_img .img_wrap {width: 100%; }
#join .top_img .img_wrap > img {width: 100%; height: auto; }

#welcome {width: 100%; height: 100%; padding: 0px 90px; background-color: #00bff0; display:  flex; flex-direction: column; align-items: center; justify-content: center; }
#welcome .top_img {width: 100%; max-width: 183px; overflow: hidden;}
#welcome .top_img .img_wrap {width: 100%;}
#welcome .top_img .img_wrap > img {width: 100%; height: auto;}
#welcome .btn_all {width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 14px; opacity: 0; margin-top: 57px; } 
#welcome .btn_all .btn_wrap {border-radius: 15px;} 
#welcome .btn_all .btn_wrap  > button{ width: 120px; height: 50px; text-align: center; font-size: 14px; font-weight: 600; letter-spacing: -0.6px; line-height: 21px;}
#welcome .btn_all .home {background-color: #00242e; color: #fff;}
#welcome .btn_all .recommend {background-color: #fff; color: #00bff0;}


