#recommend {width: 100%; height: 100vh; padding: 40px 20px 120px; overflow: hidden; background-color: #f7f7f7;}
#recommend .top_nav {width: 100%; max-width: 500px; height: 40px; padding: 0 20px; display: flex; justify-content: space-between; align-items: center; position: fixed; top: 0; left: 50%; transform: translate(-50%,0);}
#recommend .top_nav .prev_btn {width: 17px; height: 17px; overflow: hidden;}
#recommend .top_nav .prev_btn > button {width: 100%; height: 100%; text-indent: 9999px; background: url(../../public/images/prev_btn.png) no-repeat center center / cover;}
#recommend .top_nav .go_home > button {font-size: 16px; line-height: normal; color: #747474;}
#recommend form {width: 100%; height: 100%;}
#rec_swiper {width: 100%; height: 100%; margin-top: 13px; background-color: #f7f7f7;}
.swiper-pagination-progressbar {height: 5px !important; border-radius: 4px; overflow: hidden; background-color: #fff;}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {height: 5px !important; display: inline-block; background-color: #00bff9 !important; border-radius: 999px !important; overflow: hidden;}

#rec_swiper .swiper-slide {width: 100%; height: 100%; background-color: #f7f7f7;}
#rec_swiper .form_select {width: 100%; height: 100%; padding-bottom: 50px; overflow: hidden auto;}
#rec_swiper .form_select .top_title {width: 100%; padding: 35px 0; text-align: center; font-weight: bold; color: #00242e; font-size: 20px; line-height: normal;}
#rec_swiper .form_select h4 {color: #000; font-size: 14px; line-height: normal; margin-bottom: 14px;}
#rec_swiper .form_select input[type='radio'],
#rec_swiper .form_select input[type='checkbox']  {display: none;}
#rec_swiper .form_select ul {margin-bottom: 20px; width: 100%; display: grid;}
#rec_swiper .form_select ul li{ background-color: #fff; border-radius: 10px; overflow: hidden;}

/*성별 나이*/
#rec_swiper .form_select .gender,
#rec_swiper .form_select .age,
#rec_swiper .form_select .top_wear,
#rec_swiper .form_select .top_inner,
#rec_swiper .form_select .bottom_wear,
#rec_swiper .form_select .bottom_inner,
#rec_swiper .form_select .accessory  { grid-template-columns: repeat(2, 1fr); gap:14px 12px;}
#rec_swiper .form_select .gender li label,
#rec_swiper .form_select .age li label,
#rec_swiper .form_select .top_wear li label,
#rec_swiper .form_select .top_inner li label,
#rec_swiper .form_select .bottom_wear li label,
#rec_swiper .form_select .bottom_inner li label,
#rec_swiper .form_select .accessory li label{display: flex; padding: 18px 16px; width: 100%; height: 100%; color: #bcbcbc; font-size: 16px; line-height: normal;}
#rec_swiper .form_select li:has(input:checked) {background-color: #E1F8FF; outline: 1px solid #00bff9; outline-offset: -2px;}
#rec_swiper .form_select input:checked + label::after {content: ""; margin-left: auto; display: block; width: 19px; height: 19px;  background: url(../../public/images/select.png) no-repeat center center / cover;}

#rec_swiper .form_select input:checked + label { color: #00bff9;}
/* #rec_swiper .form_select input:checked + label::after {content: ""; display: block; width: ;} */

/*민감도 */
#rec_swiper .form_select .constitution {grid-template-columns: repeat(1, 1fr); gap:14px;}
#rec_swiper .form_select .constitution label{display: flex; padding: 25px 16px; width: 100%; height: 100%; color: #bcbcbc; font-size: 16px; line-height: normal;}

/*계절 */
#rec_swiper .form_select .scc h4 {color: #000; font-size: 14px; line-height: normal; margin-bottom: 14px;}
#rec_swiper .form_select .season {grid-template-columns: repeat(4, 1fr); gap:9px;}
#rec_swiper .form_select .season label{display: flex; align-items: center; justify-content: center; padding: 18px 16px; width: 100%; height: 100%; color: #bcbcbc; font-size: 16px; line-height: normal; text-align: center;}
#rec_swiper .form_select .season input:checked + label::after,
#rec_swiper .form_select .now_condition input:checked + label::after  {display: none;}
/*온도*/
#rec_swiper .form_select .temp .temp_input {border-bottom: 1px solid #bcbcbc; display: flex; align-items: center; gap: 7px; position: relative; padding: 10px 12px 10px 15px;}
#rec_swiper .form_select .temp .temp_input .ud_btn {display: flex; gap: 5px; margin: unset; width: unset;} 
#rec_swiper .form_select .temp .temp_input .ud_btn li {width: 30px; height: 28px; background-color: #fff; border-radius: 5px;}
#rec_swiper .form_select .temp .temp_input .ud_btn li > label {display: block; width: 100%; height: 100%; text-align: center;}
#rec_swiper .form_select .temp .temp_input .ud_btn li:has(input:checked) {border: 1px solid #00bff9; background-color: #e1f8ff; }

#rec_swiper .form_select .temp #temperature {margin-left: auto; text-align: right; width: 100%; box-sizing: content-box; font-size: 20px; font-weight: 500; color: #00bff9;}
#rec_swiper .form_select .temp p {font-size: 20px; font-weight: 500; color: #bcbcbc;}


#rec_swiper .form_select .now_condition { margin-top: 100px;}
#rec_swiper .form_select .now_condition ul{display: flex; flex-wrap: wrap; gap: 5px; align-items: center;}
#rec_swiper .form_select .now_condition ul li {width: 10px; padding: 18px 5px;flex: 1 1 15%; text-align: center; color: #bcbcbc; font-size: 16px; line-height: normal; text-align: center;}


/* 
#rec_swiper .form_select .temp .temp_input.hsv::after {content: ""; margin-left: auto; display: block; width: 19px; height: 19px;  background: url(../../public/images/select.png) no-repeat center center / cover;} */

#recommend .next_btn,
#map .submit_btn {width: 100%; box-sizing: border-box; max-width: 500px; padding: 10px 20px 40px; position: fixed; bottom: 0px; left: 50%; transform: translate(-50%,0); z-index: 100; background-color: #f7f7f7;}
#recommend .next_btn > button {width: 100%; padding: 18px 0; background-color: #00bff9; color: #fff; border-radius: 10px; text-align: center; font-size: 16px; font-weight: 600; transition: all linear 0.2s; }
#map .submit_btn > button {width: 100%; padding: 18px 0; background-color: #00242e; color: #fff; border-radius: 10px; text-align: center; font-size: 16px; font-weight: 600; transition: all linear 0.2s; }
#recommend .next_btn > button:disabled,
#map .submit_btn > button:disabled {background-color: #e6e6e6; color: #747474;} 


/*지역*/
#map {width: 100%; height: 100vh; padding: 40px 20px 120px; overflow: hidden; background-color: #f7f7f7;}

#map .top_nav {width: 100%; max-width: 500px; height: 40px; padding: 0 20px; display: flex; justify-content: space-between; align-items: center; position: fixed; top: 0; left: 50%; transform: translate(-50%,0);}
#map .top_nav .prev_btn {width: 17px; height: 17px; overflow: hidden;}
#map .top_nav .prev_btn > button {width: 100%; height: 100%; text-indent: 9999px; background: url(../../public/images/prev_btn.png) no-repeat center center / cover;}
#map .top_nav .go_home > button {font-size: 16px; line-height: normal; color: #747474;}

#map .map_wrap .top_title {width: 100%; padding: 35px 0; text-align: center; font-weight: bold; color: #00242e; font-size: 20px; line-height: normal;}
#map .map_wrap .top_title h4 {color: #000; font-size: 14px; line-height: normal; margin-bottom: 14px;}
#map .search_box {position: relative; width: 100%; height: 56px;}
#map .search_box .search_list { display: none; width: 100%;  aspect-ratio: 360 / 220; border-radius: 0px 0px 10px 10px; padding: 7px 5px 5px 0px; overflow: hidden;  position: absolute; top: 56px; left: 0; background-color: #fff; z-index: 30; box-sizing: border-box;}
#map .search_box.on:has(.has_v) .search_list {display: block;}
#map .search_box .search_list ul {width: 100%; height: 100%; overflow: hidden auto; padding: 0px 3px 0px 10px; }
#map .search_box .search_list ul::-webkit-scrollbar { display: block; width: 5px; }
#map .search_box .search_list ul::-webkit-scrollbar-thumb {display: block; width: 5px; background-color: #d9d9d9; border-radius: 10px;}
#map .search_box .search_list ul li { padding: 8px 9px 10px; }
#map .search_box .search_list ul li:last-child {border: unset;} 
#map .search_box .search_list ul li h4 {font-size: 14px; font-weight: 500; line-height: normal; color: #00242e;}
#map .search_box .search_list ul li p {font-size: 10px; font-weight: 400; line-height: normal; color: #bcbcbc;}

#map .search_box .search_input {width: 100%; }
#map .search_box .search_input .input_wrap,
#map .search_box .search_input .input_wrap.has_v{border: 1px solid transparent;}
#map .search_box.on:has(.has_v) .search_input .input_wrap{border-radius: 10px 10px 0 0; border-bottom: 1px solid #bcbcbc;}
#map .search_box .search_input .input_wrap .search_btn {width: 18px; height: 18px; text-indent: -9999px; background: url(../../public/images/search_btn.png) no-repeat center center / cover;}

#map .map_box {width: 100%; padding: 20px 0; box-sizing: border-box;}
#map .map_area {width: 100%;aspect-ratio: 320 / 150;}
#map .time_picker {width: 100%; display: flex; flex-wrap: wrap; gap: 10px;}
#map .time_picker ul {width: 10px; height: 120px; overflow: hidden scroll; flex: 1 1 30%;}
#map .time_picker ul li {color: #ccc; height: 40px;}
#map .time_picker ul li.selected {color: #00242e;}
