#result_closet {height: 100%; background-color: #f7f7f7; padding: 0 20px;}
#result_closet .recommend_wrap {width: 100%; padding-top: 35px;}
#result_closet .recommend_wrap .title {width: 100%; margin-bottom: 16px; display: flex; flex-wrap: wrap; align-items: center;}
#result_closet .recommend_wrap .title h2 {font-size:20px; font-weight: 500; color: #00242e;}
#result_closet .recommend_wrap .title h2 b {font-weight: 700;}
#result_closet .recommend_wrap .title p {margin-left: auto; font-size: 14px; color: #00242e;}

#result_closet .recommend_box {width: 100%; background-color: #fff; padding: 16px 18px; border-radius: 20px;} 
#result_closet .recommend_box .weather_box {width: 100%; display: flex; flex-wrap: wrap; align-items: center;}
#result_closet .recommend_box .weather_box .temp {display: flex; gap: 5px; align-items: center;}
#result_closet .recommend_box .weather_box .temp p {color: #00242e; font-size: 22px; font-weight: 500;}
#result_closet .recommend_box .weather_box .icon {max-width: 50px; max-height: 50px; width: 12vw; height: 12vw;}
#result_closet .recommend_box .weather_box .icon > div,
#result_closet .recommend_box .weather_box .icon svg  {width: 100% !important; height: 100% !important; }
#result_closet .recommend_box .weather_box .rh_temp {margin-left: auto;}
#result_closet .recommend_box .weather_box .rh_temp li {font-size: 12px; color: #00242e; font-weight: 500; display: flex; align-items: center; gap: 5px;}
#result_closet .recommend_box .weather_box .rh_temp li span{font-size: 8px; line-height: 12px;}

#result_closet .recommend_box .closet_icon {width: 23vw; height: 23vw; max-width: 90px; max-height: 90px; margin: -5px auto 7px; overflow: hidden;}
#result_closet .recommend_box .closet_icon img {width: 100%; height: 100%; object-fit: cover;}

#result_closet .recommend_box .recommend_txt {font-size: 16px; font-weight: 500; line-height: 21px;text-align: center; color: #00242e; word-break: keep-all;}
#result_closet .recommend_box .recommend_txt b {font-weight: 700;}
#result_closet .recommend_box .notice {font-size: 12px; margin-top: 14px; padding: 10px; width: 100%; border-radius: 10px; background-color: #f4f4f4; text-align: center; color: #707070;word-break: keep-all;}
#result_closet .recommend_box .notice b {font-weight: 700;}
#result_closet .recommend_box .notice .sohot,
#result_closet .recommend_box .notice .hot {color: #e53333;} 
#result_closet .recommend_box .notice .socold,
#result_closet .recommend_box .notice .cold {color: #4972b0;} 

/*아이콘 구름 컬러값 변경.*/
#cloud {fill: #D9F6FF;}


#result_closet .hourly_data {width: 100%; height: 155px; padding: 20px; border-radius: 10px; overflow: hidden; background-color: #81c6db; margin-top: 10px;}
#result_closet .hourly_data ul {width: 100%; height: 100%; display: flex; flex-wrap: wrap; align-items: stretch; gap: 10px; }
#result_closet .hourly_data ul li {flex: 1 1 10%; height: 100%; overflow: hidden; color: #fff; display: flex; flex-direction: column; justify-content: space-between; align-items: center; }
#result_closet .hourly_data ul li .time {font-size: 13px; letter-spacing: -0.165px;}
#result_closet .hourly_data ul li .icon_wrap {width: calc(100% - 16px); aspect-ratio: 1/1;}
#result_closet .hourly_data ul li .icon_wrap img {width: 100%; height: auto;}
#result_closet .hourly_data ul li .temp {font-size: 18px; font-weight: 500; letter-spacing: -0.225px;}
#result_closet .hourly_data + span {display: block; margin-top: 5px; text-align: center; font-size: 11px; color: #666; letter-spacing: -0.225px;}

